[Desktop Entry]
Name=Pingvin Core
Comment=Connect to the Pingvin P2P Network
Comment[de]=Verbinde mit dem Pingvin peer-to-peer Netzwerk
Comment[fr]=Pingvin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Pingvin, eşten eşe kriptografik sanal para birimi
Exec=pingvin-qt %u
Terminal=false
Type=Application
Icon=pingvin128
MimeType=x-scheme-handler/pingvin;
Categories=Office;Finance;
