[Desktop Entry]
Name=Pingvincoin Core
Comment=Connect to the Pingvincoin P2P Network
Comment[de]=Verbinde mit dem Pingvincoin peer-to-peer Netzwerk
Comment[fr]=Pingvincoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Pingvincoin, eşten eşe kriptografik sanal para birimi
Exec=pingvincoin-qt %u
Terminal=false
Type=Application
Icon=pingvincoin128
MimeType=x-scheme-handler/pingvincoin;
Categories=Office;Finance;
